# Keep build output and server binary in the .vsix
!dist/**
!bin/**

# Exclude typical dev junk
node_modules/**/test/**
node_modules/**/docs/**
node_modules/**/examples/**
src/**
**/*.map
.vscode/**
.git/**
.gitignore
tsconfig.json
package-lock.json
